
<h2>Log In</h2>
<div class="card">
  <div class="card-body">
    <%= simple_form_for "", url: sessions_path do |f| %>
      <%= f.input :email %>
      <%= f. input :password %>

      <%= submit_tag 'Sign In', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
