<div class="container">
  <h1>Sign In</h1>

  <%= simple_form_for "", url: sessions_path do |f| %>
    <%= f.input :email %>
    <%= f. input :password %>

    <%= submit_tag 'Sign In', class: "btn btn-outline-primary" %>
  <% end %>
</div>
