  <fieldset class="form-group check_boxes">
    <legend class="col-form-label pt-0">Day of the week</legend>
    <div class="form-check form-check-inline">
      <input type="checkbox" class="form-check-input" value="0" name="day_of_week[]" id="day_of_week_0">
      <label for="day_of_week_0" class="form-check-label">Sunday</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="checkbox" class="form-check-input" value="1" name="day_of_week[]" id="day_of_week_1">
      <label for="day_of_week_1" class="form-check-label">Monday</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="checkbox" class="form-check-input" value="2" name="day_of_week[]" id="day_of_week_2">
      <label for="day_of_week_2" class="form-check-label">Tuesday</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="checkbox" class="form-check-input" value="3" name="day_of_week[]" id="day_of_week_3">
      <label for="day_of_week_3" class="form-check-label">Wednesday</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="checkbox" class="form-check-input" value="4" name="day_of_week[]" id="day_of_week_4">
      <label for="day_of_week_4" class="form-check-label">Thursday</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="checkbox" class="form-check-input" value="5" name="day_of_week[]" id="day_of_week_5">
      <label for="day_of_week_5" class="form-check-label">Friday</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="checkbox" class="form-check-input" value="6" name="day_of_week[]" id="day_of_week_6">
      <label for="day_of_week_6" class="form-check-label">Saturday</label>
    </div>
  </fieldset>
   <input type="hidden" id="buffer"  value="<%= params['day_of_week']%>">

<script>
  const days = document.querySelector("#buffer").value
  const checkBs = document.querySelectorAll(".form-check-input")
  checkBs.forEach(cb => {
    if (days.includes(cb.value)){
      cb.checked = true
    }
  })
</script>
