  <h2>Yoga Classes</h2>
  <div class="row">
    <div class="col-md mb-4">
      <div class="card">
        <div class="card-body">
          <%= render "search_form" %>
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="card">
        <div class="card-body" id="search-results">
          search reluts go here
        </div>
      </div>
    </div>

  </div>
