<h1>New yoga class</h1>
<div id="new-class-form">
  <%= render "yoga_classes/form" %>
</div>

<script>
  const classTypeSelect = document.querySelector("#yoga_class_schedule_attributes_class_type")
  classTypeSelect.addEventListener("change", (event) => {
    const classType = event.currentTarget.value;
    // console.log(classType)
    if (classType == "regular") {
      start = document.querySelector(".yoga_class_schedule_start")
      start.classList.remove("hidden")
      start.querySelector("small").innerText = "Date and time for the first yoga class"  
          
      document.querySelector(".yoga_class_schedule_duration").classList.remove("hidden")

      end = document.querySelector(".yoga_class_schedule_end")
      end.classList.add("hidden")

    } else if (classType == "course") {
      start = document.querySelector(".yoga_class_schedule_start")
      start.classList.remove("hidden")
      start.querySelector("small").innerText = "Date and time for the first yoga class" 

      document.querySelector(".yoga_class_schedule_duration").classList.remove("hidden")

      end = document.querySelector(".yoga_class_schedule_end")
      end.classList.remove("hidden")
      end.querySelector("small").innerText = "Date and time for the last yoga class" 
      
    } else if (classType == "workshop") {
      start = document.querySelector(".yoga_class_schedule_start")
      start.classList.remove("hidden")
      start.querySelector("small").innerText = "Date and time for the start of the workshop" 

      end = document.querySelector(".yoga_class_schedule_end")
      end.classList.remove("hidden")
      end.querySelector("small").innerText = "Date and time for the end of the workshop" 

      document.querySelector(".yoga_class_schedule_duration").classList.add("hidden")
    } 

    })
</script>