<h1>New yoga class</h1>
<div id="new-class-form">
  <%= render "yoga_classes/form" %>
</div>

<script>
  const classTypeSelect = document.querySelector("#yoga_class_schedule_attributes_class_type")
  classTypeSelect.addEventListener("change", (event) => {
    const classType = event.currentTarget.value;
    // if (classType == "regular") 

    })
</script>