<div class="d-flex justify-content-center">
  <div>
    <h2>New yoga class</h2>
    <div id="new-class-form" class="card" style="max-width: 700px">
      <div class="card-body">
        <%= render "yoga_classes/form" %>
      </div>
    </div>
  </div>
</div>