<div class="container-fluid" id="main-index">
  <h2>Our <%= @user_type.pluralize%></h2>

  <div class="card-columns p-2 ">
    <% @users.each do |user| %>
      <div class="card bg-light" >
        <div class="card-body">
          <h5 class="card-title"><%= user.name%></h5>
          <%= link_to 'Show', sti_user_path(user.user_type, user) %>
        </div>
      </div>
    <% end %>
  </div>
</div>