<div class="mx-auto" style="max-width: 1500px">
  <h2>Teachers</h2>
  <div class="row ">
    <% @users.each do |user| %>
      <div class="col-md-6 col-lg-4 pb-4" >
        <%= render partial: "users/user_card", locals: {user: user} %>
      </div>
    <% end %>
  </div>
</div>