<h2 class="mx-auto" style="max-width: 600px">New account</h2>
<div class="mt-4 mx-auto" style="max-width: 600px">
  <%# <div class="card-body"> %>
    <%= render 'form' %>
    <%= link_to 'Back', users_path() , class: "btn btn-secondary mt-2"%>
  <%# </div> %>
</div>
