<div class="text-center">
  <h1>Welcone to the Yoga Room!</h1>
</div>



<div class="row">
  <div class="col">
    <h3>Search here for the yoga class of your choice</h3>
    <%= link_to("Search classes", yoga_classes_path, class: "btn btn-primary")%>
  </div>
  <div class="col">
    <h3>Are you a teacher?</h3>
    <h5>Sign up and add your classes!</h5>
    <%= link_to("Sign Up", new_user_path, class: "btn btn-primary")%>
    <%= link_to("Log in", new_sessions_path, class: "btn btn-secondary")%>

  </div>
</div>