<p>search result</p>
<p>params from form: <%= @params %></p>
<p>search params: <%= @search_params %></p>
<p>Search result: <%= @search_result.length %> </p>
<ul>
  <% @search_result.each do |yoga_class| %>
  <li><%= yoga_class.title %></li>

  <% end %>
</ul>
