/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

$primary:       #C55E65 !default;
$secondary:     #CC9773 !default;
$success:       #709656 !default;
$info:          #8F7673 !default;
$warning:       #ee861e !default;
$danger:        #f44336 !default;
$light:         #F3F0F1 !default;
$dark:          #512324 !default;

 $theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);
 

 @import "bootstrap";

 .simple_form abbr {
  text-decoration: none;
} 

.hidden {
  display: none;
}
 #main-index {
  max-width: 1200px;

}

.navbar-dark .navbar-brand{
  color: $light
}

.form-control {
  border-color: rgba( $secondary, .5 ) 
}

.card{
  border-color: rgba( $info, .3)
}

.yclass-list .card:first-child {
  background-color: $secondary;
  color: $light
}

.btn-secondary {
  color: white
}