<nav class="sticky-bottom bg-dark text-white mt-2">
  <div class="row px-4 pt-4 mx-auto" style="max-width: 1200px">
    <div class="col-md">
      <p>Contact: info@yogaroom.online</p>
    </div>
    <div class="col-md">
      <div class="d-inline-block pr-4">
      <p><%= link_to("Terms of use", terms_path, class:"text-white")%></p>
      </div>
      <div class="d-inline-block pl-4">
        <p><%= link_to("Privacy policy", privacy_path, class:"text-white")%></p>
      </div>
    </div>
  
    <div class="col-md">
      <p class="">© 2019 YogaRoom</p>
    </div>

  </div>
 
</nav>