<nav class=" sticky-bottom bg-dark text-white mt-2">
  <div class="d-flex justify-content-around mx-auto pt-4 " style="max-width: 1500px">
    <div class="">
      <p>Contact: info@yogaroom.online</p>
    </div>
    <div class="">
      <%= link_to("Terms of use", privacy_path, class:"text-white")%>
    </div>
    <div class="">
      <%= link_to("Privacy policy", privacy_path, class:"text-white")%><br>
    </div>
    <div class="">
      <p class="">© 2019 YogaRoom</p>
    </div>

  </div>
 
</nav>