<nav class=" sticky-bottom bg-dark text-white ">
  <div class="d-flex justify-content-around mx-auto" style="max-width: 1500px">
    <div class="">
      <a class="">divnk</a><br>
      <a class="">divnk</a><br>
      <a class="">divnk</a><br>
      <a class="">divnk</a><br>
    </div>
    <div class="">
      <p class="">Business stuff</p>
    </div>
    <div class="">
      <h5>Contact info</h5>
      <p>email</p>
    </div>
  </div>
 
</nav>